.chosen-track {
    margin: 40px 0;
}

.chosen-track .song-item {
    outline: 2px solid var(--accent-clr);
}

.search-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin: 40px 0;
}

.slider {
    display: inline-block;
}

.keys {
    display: flex;
}

button.key-filter {
    background-color: rgb(32, 32, 32);
    border: 1px solid var(--accent-clr);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px;
    margin: 5px 5px;
    transition: 200ms ease-in-out;
}

button.key-filter:hover {
    cursor: pointer;
    background-color: rgba(19, 255, 31, 0.15);
}

button.key-filter:focus {
    background-color: var(--accent-clr);
    color: rgb(32, 32, 32);
}

.submit-btn {
    background-color: rgb(32, 32, 32);
    border: 1px solid var(--accent-clr);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    margin: 5px 5px;
    transition: 200ms ease-in-out;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--accent-clr);
    color: rgb(32, 32, 32);
}